/* Global  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

section {
    display: block;
}

/* Font */
html,
body {
    font-family: 'Quicksand', sans-serif;
}

body.dark {
    background-color: #232220;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*  */
.title-main {
    font-size: 2.3rem;
    font-weight: 600;
}

.dark .title-main {
    color: #eeeeee;
}

.title-sub {
    color: #ff6600;
    font-weight: 400;
    font-size: 1.3rem;
    font-family: 'Pacifico', cursive;
}

/* Header */
header {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
}

.headerItems {
    display: grid;
    padding: 40px 0 20px 0;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.headerItemLeft h1 .headerLogo {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
}

.headerItemRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.headerIRSearch {
    display: flex;
    margin: 0 auto;
}

.headerIRSearch form {
    position: relative !important;
}

.headerIRSearch form input {
    color: rgba(22, 28, 45, 0.7);
    background: white;
    display: flex;
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    right: 0;
    border: 1px solid white;
    border-radius: 6px;
    outline: 0;
}

.headerIRSearch form span {
    font-size: 15px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

.headerIRNav {
    text-align: center !important;
}

.headerIRNav button {
    color: #fbfdfb;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 8px;
    background: none;
    border: none;
    outline: none;
}

/* Header Banner */
.headerBanner {
    height: 700px;
    min-height: 700px;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
}

.headerBanner {
    display: grid;
    align-items: center;
    height: 100%;
}

.headerBanner .headerBCMDetail {
    max-width: 600px;
    text-align: left;
}

.headerBCMDetail h3 {
    color: white;
    font-size: 54px;
    font-weight: 600;
    line-height: 64px;
}

.headerBCMDetail p {
    color: white;
    font-size: 16px;
    line-height: 28px;
}

.headerBCMDetail .btnReadMore {
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    background: transparent;
    border: 2px solid white;
    padding: 12px 45px;
}

.headerBCMDetail .btnReadMore:hover {
    color: #ff6600;
    background: white;
}

/* About */
.about {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.aboutContainer {
    padding-left: 15px;
    padding-right: 15px;
}

.aboutContent {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.aboutContentLeftItem h6 {
    color: #ff6600;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
}

.aboutContentLeftItem h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.aboutContentRight p {
    color: rgba(22, 28, 45, 0.7);
    font-size: 18px;
    line-height: 28px;
    font-family: 'Quicksand', sans-serif;
}

/* Booking */
.booking {
    background: #ff6600;
}

.bookingContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
}

.bookingImg {
    background: url(../img/banner3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    min-height: 600px;
}

.bookingImg::before {
    background: rgb(16, 15, 19, 0.46);
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.bookingItems h6 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    padding: 0;
}

.bookingItems h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.bookingItems p {
    color: #ffdfc9;
    font-size: 18px;
    line-height: 28px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

.bookingItemsSubs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 30px;
}

.bookingISDIcon {
    text-align: center;
    line-height: 70px;
    background: white;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    margin-bottom: 1.5rem;
}

.bookingISDIcon:hover span {
    color: #fcb900;
}

.bookingISDIcon span {
    color: #ff6600;
    font-size: 25px;
    line-height: 70px;
    display: inline-block;
    text-rendering: auto;
    transition: 0.5s all;
}

.bookingItemsSubsDeals a {
    font-size: 20px;
    display: block;
    color: black;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
}

.bookingItemsSubsDeals p {
    color: #ffdfc9;
    margin-top: 0.5rem;
}

/* Cate */
.cate {
    background-color: #f7f7f7;
    padding: 3rem 0 3rem 0;
}

.cateContainer {
    padding: 3rem 15px 3rem 15px;
}

.cateHeader {
    text-align: center;
}

.cateHeader h6 {
    color: #ff6600;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
}

.cateHeader h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.cateContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}

.cateContentImg {
    margin-top: 1.5rem;
    padding: 0.5rem 15px 0 15px;
    position: relative;
}

.cateImg {
    position: relative;
}

.cateImg a {
    background-color: transparent;
}

.cateImg a:hover {
    text-decoration: none;
}

.cateImg img {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-style: none;
    border-radius: 6px;
}

.cateImg::after {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.cateInfo {
    color: white;
    position: absolute;
    width: 95%;
    left: auto;
    bottom: 0;
    padding: 3rem;
    opacity: 1;
    transition: all 0.4s;
    transform: translate3d(0, 10%, 0);
}

.cateInfo h4 {
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 1.5rem;
}

.cateInfo h6 {
    color: white;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    opacity: 0.9;
    margin-top: 0.5rem;
}

.cateInfo h6 span {
    color: #ffc600;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    outline: none;
}

/*  */
/* STATS */
/*  */
.stats__header {
    background-image: url(https://wp.w3layouts.com/diner/wp-content/themes/Diner/assets/images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
}

.stats__header::before {
    content: "";
    background-color: rgba(35, 33, 33, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stats__content {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 10px 10px 80px 10px;
}

.stats__content>h3 {
    color: #fff;
    font-size: 2.5rem;
    margin: 2rem auto;
    font-weight: 600;
    max-width: 700px;
}

.stats__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn-contact,
.btn-readmore {
    border-radius: 5px;
    color: #fff;
    padding: 1rem 3rem;
    font-weight: 600;
    transition: 0.25s;
    margin: 0 20px;
}

.btn-readmore {
    border: 2px solid #fff;
    background-color: transparent;
}

.btn-readmore:hover {
    background-color: #fff;
    color: #ff6600;
}

.btn-contact {
    border: 2px solid rgb(255, 102, 0);
    background-color: rgb(255, 102, 0);
}

.btn-contact:hover {
    background-color: rgb(255, 102, 0, 0.8);
    border: 2px solid rgb(255, 102, 0, 0.8);
}

/* Stats__Number */
.stats__number {
    transform: translateY(-70px);
}

.number__content {
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgba(231, 231, 231, 0.2);
    box-shadow: 0 0 1px rgb(186, 186, 186, 0.5);
    height: 100%;
    transition: 0.25s;
}

.number__content:hover {
    box-shadow: 1px 1px 5px rgb(139, 138, 138, 0.2);
    transform: translateY(-5px);
}

.number__content>i {
    font-size: 1.5rem;
    background-color: #ff6600;
    padding: 1.2rem;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 1rem;
}

.number__content>h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.number__content>p {
    color: #5b606c;
    font-weight: 600;
    font-size: 1.1rem;
}

/* Dark/Stats__Number */
.dark .number__content {
    background-color: #232220;
    border: none;
}

.dark .number__content>h2 {
    color: #eeeeee;
}

.dark .number__content>p {
    color: #c2d0ce;
}

/* Stats__New */
.new__imgage {
    position: relative;
    border-radius: 5px;
}

.new__imgage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(35, 33, 33, 0.5);
}

.new__imgage>img {
    object-position: center;
    border-radius: 5px;
}

.new__play {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-play {
    display: block;
    background-color: #fff;
    color: #ff6600;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.7rem;
    transition: 0.5s;
    position: relative;
}

.btn-play:hover {
    background-color: #ff6600;
    color: #fff;
    transform: scale(1.3);
}

.btn-play::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 98%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: btn-play-waves 1s linear infinite;
}

/* Modal */
.modal .modal-content {
    background-color: transparent;
    border: none;
}

.modal .modal-header {
    border-bottom: none;
    padding: 0 1rem;
}

.modal-backdrop.show {
    opacity: 0.9;
}

/*  */
/* BLOG */
/*  */
.blog {
    background-color: #f7f7f7;
}

.card {
    background-color: transparent;
}

.card-top {
    position: relative;
    width: 100%;
}

.card-link {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #ff6600;
    transition: all 0.25s 0.15s;
}

.card-link:hover {
    color: #5431ac;
}

.card-body * {
    color: #232121;
    font-weight: 700;
    transition: 0.25s 0.15s;
    font-size: 1.1rem;
    line-height: 2rem;
}

.card-logo>a {
    margin-right: 0.5rem;
}

.card-title>a {
    font-size: 1.5rem;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.card-info>a:hover,
.card-info>a:hover>i {
    color: #ff6600;
}

/* Dark/Blog */
.dark .blog {
    background-color: #282828;
}

.dark .card-body * {
    color: #eeeeee;
}

/*  */
/* FEEDBACK */
/*  */
.feedback__img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.feedback__img img {
    object-fit: cover;
    height: 100%;
}

.feedback__content {
    max-width: 700px;
    margin: 0 auto;
}

.feedback__content * {
    margin-bottom: 0.7rem;
}

.feedback__content i {
    color: #ff6600;
    font-size: 2rem;
}

.feedback__content .blockquote {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    color: black;
    quotes: "“" "”";
}

.feedback__content .blockquote::before {
    content: open-quote;
}

.feedback__content .blockquote::after {
    content: close-quote;
}

.feedback__content>p {
    color: #878b93;
    line-height: 1.7rem;
}

.feedback__info>h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
}

.feedback__info>p {
    color: #878b93;
}

/* owl-dots */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6600;
}

/* Dark/FeedBack */
.dark .feedback__content .blockquote {
    color: #eeeeee;
}

.dark .feedback__info>h3 {
    color: #eeeeee;
}

.dark .feedback__content>p,
.dark .feedback__info>p {
    color: #b1bdc6;
}

/*  */
/* FOOTER */
/*  */
footer {
    background-color: #000;
}

.footer__item h4 {
    color: #fff;
    margin-bottom: 1.4rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer__item * {
    color: #a5a2a1;
    transition: 0.25s;
}

.footer__item .navbar-brand {
    color: #fff;
    font-size: 2rem;
}

.footer__social i {
    background-color: #fff;
    padding: 0.6rem;
    border-radius: 5px;
    color: #ff7d26;
    margin-right: 0.5rem;
}

.footer__social a:hover i {
    background-color: #ff7d26;
    color: #fff;
}

.footer__item a:hover,
.footer__diner:hover {
    color: #ff7d26;
    cursor: pointer;
}

.footer__subscribe input,
.footer__subscribe button {
    padding: 1rem;
    border-radius: 5px;
    outline: none;
}

.footer__subscribe input {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}

.footer__subscribe input:focus {
    border: 1px solid #ff6600;
}

.footer__subscribe button {
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    background-color: #ff6600;
    font-size: 1rem;
    border: 1px solid transparent;
}

.footer__subscribe button:hover {
    background-color: #dc5a02;
}

.copyrighter {
    padding: 1.5rem 0;
    border-top: 1px solid rgba(218, 218, 218, 0.1);
    font-size: 1.1rem;
}

.copyrighter span {
    color: #dc5a02;
    transition: 0.25s;
}

.copyrighter span:hover {
    color: #fff;
}

/* Dark/Footer */
.dark .footer__social i {
    background-color: #232220;
    color: #ff6600;
}

.dark .footer__subscribe input {
    background-color: #232220;
}

/* BACK-TO-TOP */
.back-to-top {
    background-color: #ff6600;
    color: #fff;
    position: fixed;
    line-height: 1rem;
    text-align: center;
    right: 15px;
    bottom: 15px;
    padding: 1rem;
    border-radius: 50%;
    transition: 0.25s;
    visibility: hidden;
    z-index: 999;
}

.cd-top--is-visible {
    /* back-to-top button visible */
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    /* reduce button opacity if user keeps scrolling */
    opacity: 1;
}


/* Media */
@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    .footer__social {
        text-align: center;
    }

    .card-title>a {
        font-size: 1.2rem;
    }

    .btn-contact,
    .btn-readmore {
        margin: 0 5px;
    }

    .stats__content {
        padding: 10px 10px 10px 10px;
    }

    .stats__number {
        transform: translateY(-20px);
    }
}

@media screen and (max-width: 767px) {
    .stats__content>h3 {
        font-size: 2.5rem;
    }

    .stats__number {
        transform: translateY(0);
    }

}

@media screen and (max-width: 577px) {
    .stats__content>h3 {
        font-size: 2.1rem;
    }

    .btn-contact,
    .btn-readmore {
        padding: 0.7rem 1.5rem;
    }
}


/* Animation - Keyframes */
@keyframes btn-play-waves {
    0% {
        box-shadow: 0 0 0 0 rgb(255, 255, 255, 25%), 0 0 0 10px rgb(255, 255, 255, 25%), 0 0 0 20px rgb(255, 255, 255, 25%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(255, 255, 255, 25%), 0 0 0 20px rgb(255, 255, 255, 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}